div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 128px;
    height: auto;
}

div {
    padding: 15px;
    text-align: center;
    align: center;
}