table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    -webkit-column-width: 100%; /* Chrome, Safari, Opera */
    -moz-column-width: 100%; /* Firefox */
    column-width: 100%;
}

h1 {
    font-family: Verdana;
    color: white;
}

p {
    font-family: Verdana;
    color: white;
}

p2 {
    font-family: Verdana;
    color: yellow;
}

body, html {
    height: 100%;
}
.bg {
    /* The image used */
    background-image: url("bg.jpg");

    /* Half height */
    height: 50%;

    /* Center and scale the image nicely */
    background-repeat: repeat;
}