table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    -webkit-column-width: 100%; /* Chrome, Safari, Opera */
    -moz-column-width: 100%; /* Firefox */
    column-width: 100%;
}

h1 {
    font-family: Verdana;
}
