td.gallery:hover {
    border: 1px solid #777;
}

td.gallery img {
    width: 128px;
    height: auto;
    padding: 15px;
}

td {
    border: 1px solid transparent;
    padding: 15px;
    text-align: center;
    align: center;
}

table {
    width: 100%;

}